/*This is the style sheet for the website*/

/*Styling for the navigation to float at the top of the page aligned to the left, with the list items in a row*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover {
            background-color: #111;
        }

/*Styling for the main content to be slightly offset from the left of the screen*/
#Main {
    width: 100%;
    padding: 30px;
}



/*Styling for the html*/
html {
    margin-top: 40px;
    background-image: linear-gradient(white, mediumpurple);
    background-repeat: no-repeat;
}

/*Styling for the footer to float at the bottom of the page*/
footer {
    background-color: lightgray;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
body {
    height: 100vh;
    width: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-left: 20px;
}

/*styling for the text to be slightly offset from the left*/
p {
    margin-left: 20px;
}

dl{
    margin-left: 20px;
}

dt{
    font-weight: bold;
}






