/*This is the style sheet for the website*/

/*Styling for the navigation to float at the top of the page aligned to the left, with the list items in a row*/
nav {
	background-color: lightblue;
	height: 100vh;
	float: left;
}

/*List items in the nav aligned to the left*/
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

/*Styling for the list items in the nav, with white boxes around the text*/
li a {
	color: darkslateblue;
	padding: 1em 1.5em;
	display: inline;
	margin: 5px;
	background-color: white;
	border-radius: 10px;
	text-decoration: none;

}

/*Hover effect for the list items in the nav*/
	li a:hover {
		background-color: lightgrey;
		color: white;
	}

.container {
	display: flex;
}