/*This is the style sheet for the website*/

/*Styling for the navigation to float at the top of the page aligned to the left, with the list items in a row*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover {
            background-color: #111;
        }

/*Styling for the main content to float below the navigation*/
#Main {
    width: 100%;
    padding: 15px;
}